<section data-ng-controller="DashboardController">
	
	
	
	<!--	This is the Dashboard view-->


<script>
$(document).ready(function() {
    $('#content').fadeIn('slow');
});
	</script>


	<p>&nbsp;</p>
	<div class="container">
		<div class="row row-feed">
			<div class="col-lg-3">
				<div class="input-group search">
				      <input type="text" class="form-control" placeholder="Search for...">
				      <span class="input-group-btn">
				        <a href="/search"<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button></a>
				      </span>
				</div><!-- /input-group -->
				<div class="list-group feed-list-group">
					  <span class="list-group-item active">
					    Filter
					  </span>
					  <a href="#" class="list-group-item">My Posts</a>
					  <a href="#" class="list-group-item">All Posts</a>
					  <a href="#" class="list-group-item">Recent Posts</a>
					  <a href="#" class="list-group-item">Top Posts</a>
				</div>
			  </div>
		 		<div class="col-lg-6">
					<div class="panel panel-default feed">
					  <div class="panel-heading">
					    <h3 class="panel-title">My Feed</h3>
					  </div>
					  <div class="panel-body">
					  	<h4>Title</h4>
					  	<h5>Username</h5>
					  	<h4>Comments</h4>
					    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					    <div class="comment-buttons">
					    	<button type="button" class="btn btn-default comment-button-indv">Like</button>
					    </div>
					    	<div class="form-group">
						  		<label for="comment">Reply:</label>
						 		 <textarea class="form-control" rows="5" id="comment"></textarea>
						  		<button type="button" class="btn btn-default comment-button-indv-right">Comment</button>
							</div>
					  </div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="panel panel-default">
					 <div class="panel-heading">
					   <h3 class="panel-title">Most Popular</h3>
					  </div>
					  <div class="panel-body">
					    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					  </div>
					</div>
					<div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title">Recent Comments</h3>
					  </div>
					  <div class="panel-body">
					    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					  </div>
					</div>
				</div>
			</div>
	</div>
	
	
</section>