<section data-ng-controller="SearchController">
	
	<!--	Show search bar to search again-->
	
	<!--	Read out search results if a search is made.-->
	
	<p>&nbsp;</p>
		
	<script>
$(document).ready(function() {
    $('#content').fadeIn('slow');
});
	</script>


	<!--Home/////////////////////////////////////////////////////////////////////////////////////-->
	<div class="container">
		<div class="row row-feed">
			<div class="col-lg-1">
			  </div>
		 		<div class="col-lg-10">
					<div class="panel panel-default feed">
					  <div class="panel-heading">
					    <h3 class="panel-title">Results</h3>
					  </div>
					  <div class="panel-body">
					  	<div class="table-responsive">
						  <table class="table">
						   		<tr>
						   			<th>Artist</th>
						   			<th>Song</th>
						   			<th></th>
						   		</tr>
						   		<tr>
						   			<td>Artist1</td>
						   			<td>Song1</td>
						   			<td><button type="button" class="btn btn-default yoda-button"><img class="logo" src="images/yodalogo.png" alt="logo"></button></td>
						   		</tr>
						   		<tr>
						   			<td>Artist2</td>
						   			<td>Song2</td>
						   			<td><button type="button" class="btn btn-default yoda-button"><img class="logo" src="images/yodalogo.png" alt="logo"></button></td>
						   		</tr>
						   		<tr>
						   			<td>Artist3</td>
						   			<td>Song3</td>
						   			<td><button type="button" class="btn btn-default yoda-button"><img class="logo" src="images/yodalogo.png" alt="logo"></button></td>
						   		</tr>
						  </table>
						</div>
					  </div>
					</div>
				</div>
				<div class="col-lg-1">
				</div>
			</div>
		</div>
	
	<!--	Allow user to select a result to yoda-fy-->

	
</section>