<section data-ng-controller="PostsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 class="real-small-h1">{{ post.title }}</h1>
	</div>
	<div class="row">
		<div class="col-md-3">
			<h2>
				{{ post.track.name }}
				<br>
				<small>
					{{ post.track.artist }} 
				</small>
			</h2>
			<p>
				{{ post.description }}
			</p>
			<small>
				<em class="text-muted">
					Posted on
					<span data-ng-bind="post.created | date:'mediumDate'"></span>
					by
					<span data-ng-bind="post.user.displayName"></span>
				</em>
			</small>
			<br>
			<br>
			<p style="white-space: nowrap;" data-ng-show="((authentication.user) && (authentication.user._id == post.user._id))">
					<a class="btn btn-default" href="/#!/posts/{{post._id}}/edit">
						Edit <i class="glyphicon glyphicon-edit"></i>
					</a>
					<a class="btn btn-danger" data-ng-click="remove();">
						Delete <i class="glyphicon glyphicon-trash"></i>
					</a>
			</p>
			<p>
				<span class="glyphicon glyphicon-star" aria-hidden="true" data-ng-bind="post.likes.length"></span>
							&nbsp;
							
							<button class="btn btn-success btn-sm" ng-click="likeThis(0)" id="btn-like" data-id="{{ image.uniqueId }}" ng-show="!isLiked && authentication.user._id"><i class="fa fa-heart">Like</i></button>
			</p>
		</div>
		<div class="col-md-6">

			<div class="well">
				<p data-ng-bind-html="post.track.yodaLyrics">

				</p>
			</div>
		</div>
</section>
